<template>
  <ion-page>
    <ion-header>
      <ion-toolbar>
        <ion-title>Photo Gallery</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="12" size-sm="6" size-md="6" size-xl="3" :key="photo" v-for="(photo) in photos">
            <div class="image-container">
              <img :id="`img-${photo.filepath}`" :src="photo.webviewPath" @click="showActionSheet(photo)"/>
              <canvas class="image-container__canvas" :id="`canvas-${photo.filepath}`"></canvas>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button @click="takePhoto()">
          <ion-icon :icon="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-loading
        :is-open="isProcessingImage"
        message="Please wait..."
      >
      </ion-loading>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
  import { camera, trash, close, barcodeOutline } from 'ionicons/icons';
  import { actionSheetController, IonPage, IonHeader, IonFab, IonFabButton, IonIcon,
    IonToolbar, IonTitle, IonContent,IonCol, IonRow, IonGrid, IonLoading} from '@ionic/vue';
  import { usePhotoGallery, Photo } from '@/composable/usePhotoGallery';
  import {processImage} from '@/composable/processImage';

  export default  {
  name: 'Tab2',
  components: { IonPage, IonHeader, IonFab, IonFabButton, IonIcon,
    IonToolbar, IonTitle, IonContent, IonCol, IonRow, IonGrid, IonLoading},
  setup() {
    const { takePhoto, photos, deletePhoto } = usePhotoGallery();
    const { detectFace, isProcessingImage } = processImage();

    const showActionSheet = async (photo: Photo) => {
      const actionSheet = await actionSheetController.create({
        header: 'Photos',
        buttons: [{
          text: 'Delete',
          role: 'destructive',
          icon: trash,
          handler: () => {
            deletePhoto(photo);
          }}, {
          text: 'face detection',
          icon: barcodeOutline,
          role: 'destructive',
          handler: () => {
            detectFace(photo)
          }}, {
          text: 'Cancel',
          icon: close,
          role: 'cancel',
          handler: () => {
            // Nothing to do, action sheet is automatically closed
          }
        }]
      });
      await actionSheet.present();
    }

    return {
      camera, trash, close, takePhoto, photos, showActionSheet, isProcessingImage
    }
  }
}
</script>

<style>
  .image-container {
    position: relative;
  }
  .image-container__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
</style>
